.outer-box {
    background-color: aliceblue;
    width: 1000px;
    min-height: 650px;
    max-height: max-content;
    justify-self: center;
    align-self: center;
    border: 5px solid black;
}

.logo-box {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 40px;
}

.content-box {
    display: flex;
    justify-content: space-around;
}

.error-box {
    height: 10px;
    color: red;
    font-size: 10px;
}

.info-box {
    width: 400px;
    min-height: 450px;
    max-height: max-content;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-box {
    display: block;
    width: 350px;
    height: 40px;
    font-size: 25px;
}

.input-box {
    display: block;
    width: 350px;
    height: 30px;
}

.button-box {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
}